.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {
  flex: 1 0 auto;
}

.footer {
  margin: auto;
  background: black;
  width: auto;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer a {
  color: white;
  font-weight: lighter;
  text-decoration: none;
  padding: 10px 15px;
}

.footer a:hover {
  background: darkslategray;
  color: white;
  border-radius: 15px;
  text-shadow: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.work__boxes {
  padding: 20px;
}
.work__box {
  display: flex;
  align-items: center;
}

@media(max-width: 900px) {
  .work__box {
      align-items: initial;
      flex-direction: column-reverse;
  }
}

.work__box:not(:last-child) {
  margin-bottom: 25rem;
}

@media(max-width: 500px) {
  .work__box:not(:last-child) {
      margin-bottom: 20rem;
  }
}

.work__links {
  display: flex;
  align-items: center;
}

.work__text {
  flex: 0 0 30%;
}

.work__list {
  list-style-position: inside;
  margin-bottom: var(--gutter-normal);
}

.work__code {
  display: block;
  height: 3rem;
  margin-left: var(--gutter-normal);
  transition: all .3s;
}

.work__code:hover {
  transform: scale(1.2);
}

.work__image-box {
  margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
  .work__image-box {
      flex: 1;
      margin: 0 0 0 10rem;
  }
}

@media(max-width: 900px) {
  .work__code {
      height: 4rem;
  }
}


img {
  object-fit: contain;
  max-width: 100%;
}

.about__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media(max-width: 900px) {
  .about__content {
      flex-direction: column-reverse;
      align-items: initial;
  }
}

.about__photo-container {
  margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
  .about__text {
      flex: 0 0 35%;
  }
  
  .about__photo-container {
      flex: 1;
      margin: 0 var(--gutter-huge) 0 0;
  }
}